

/* Sidebar Styles */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li{
    padding: 10px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #fdfafa;
    display: block;
    padding-top: 10px;
    border-bottom: 2px solid rgb(174, 172, 172);
    height: 50px;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
li:hover{
    background-color:#007BFF;
    cursor: pointer;
    color: #faf9f9;
    font-size: 19px;
}
.active{
    background-color: #007BFF;
    color: white;
}
.sidebar{
    width: 250px;
    background-color: #0b4885;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px  #074b90;
}
.sidebar-header{
    padding: 10px;
    background-color: #0873cb;
    text-align: center;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid rgb(174, 172, 172);
    font-weight: bold;
}
/*dashboard icon style*/
.container{
    display: flex;
    flex-direction: row;
    gap: 350px; 
}
.main-content{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center; 
    flex-wrap: wrap;
    font-size: 20px;
    margin: 20px;
    color: black;
}
.links a{
    text-decoration: none;
    color: black;
    background-color:white;
    box-shadow: 0 0 0 5px #e2e0e0;
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: bold;
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.body-dashboard{
    background-color: #e2e0e0;
}
/*sections projects*/
.container-project{
   display: flex;
    flex-direction: row;
    gap: 350px; 

}
.main-content{
    display: flex;
    flex-direction: column;
}
form{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}
input,textarea{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

