ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li{
    padding: 10px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #fdfafa;
    display: block;
    padding-top: 10px;
    border-bottom: 2px solid #fbaeae;
    height: 50px;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
li:hover{
    background-color:#007BFF;
    cursor: pointer;
    color: #faf9f9;
    font-size: 19px;
}
.active{
    background-color: #007BFF;
    color: white;
}
.sidebar{
    width: 250px;
    background-color: #0b4885;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px  #074b90;
}
.sidebar-header{
    padding: 10px;
    background-color: #0873cb;
    text-align: center;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid #fe8585;
    font-weight: bold;
}

